clienteNotificaWSDL/src/main/xsd/altaRemesaEnvios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/altaRemesaEnvios" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:not="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/altaRemesaEnvios">
  <element name="altaRemesaEnvios" type="not:altaRemesaEnvios"/>
  <complexType name="altaRemesaEnvios">
    <all>
      <element name="codigoOrganismoEmisor" type="not:CodigoDIR"/>
      <element name="tipoEnvio" type="not:TipoEnvio"/>
      <element name="concepto">
        <simpleType>
          <restriction base="string">
            <whiteSpace value="preserve"/>
            <maxLength value="255"/>
          </restriction>
        </simpleType>
      </element>
      <element name="descripcion" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <whiteSpace value="preserve"/>
            <maxLength value="1000"/>
          </restriction>
        </simpleType>
      </element>
      <element name="fechaEnvioProgramado" type="date" minOccurs="0"/>
      <element name="procedimiento" type="string" minOccurs="0"/>
      <element name="documento" type="not:Documento"/>
      <element name="envios" type="not:Envios"/>
      <element name="opcionesRemesa" type="not:Opciones" minOccurs="0">
        <annotation>
          <documentation>Opciones para una remesa de envios (opcion : valor)
                        -retardo : integer
                        -caducidad: YYYY-MM-DD</documentation>
        </annotation>
      </element>
    </all>
  </complexType>
  <complexType name="Envios">
    <sequence maxOccurs="100">
      <element name="envio" type="not:Envio"/>
    </sequence>
  </complexType>
  <complexType name="Envio">
    <all>
      <element name="referenciaEmisor" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <maxLength value="20"/>
          </restriction>
        </simpleType>
      </element>
      <element name="titular" type="not:Persona"/>
      <element name="destinatarios" type="not:Destinatarios" minOccurs="0"/>
      <element name="entregaPostal" type="not:EntregaPostal" minOccurs="0"/>
      <element name="entregaDEH" type="not:EntregaDEH" minOccurs="0"/>
    </all>
  </complexType>
  <complexType name="EntregaDEH">
    <all>
      <element name="obligado" type="boolean"/>
      <element name="codigoProcedimiento" type="string" minOccurs="0"/>
    </all>
  </complexType>
  <complexType name="EntregaPostal">
    <all>
      <element name="organismoPagadorPostal" type="not:OrganismoPagadorPostal" minOccurs="0"/>
      <element name="organismoPagadorCIE" type="not:OrganismoPagadorCIE" minOccurs="0"/>
      <element name="tipoDomicilio" type="not:TipoDomicilio"/>
      <element name="tipoVia" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <length value="5"/>
          </restriction>
        </simpleType>
      </element>
      <element name="nombreVia" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <length value="50"/>
          </restriction>
        </simpleType>
      </element>
      <element name="numeroCasa" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <length value="5"/>
          </restriction>
        </simpleType>
      </element>
      <element name="puntoKilometrico" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <length value="5"/>
          </restriction>
        </simpleType>
      </element>
      <element name="portal" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <length value="3"/>
          </restriction>
        </simpleType>
      </element>
      <element name="puerta" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <length value="3"/>
          </restriction>
        </simpleType>
      </element>
      <element name="escalera" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <length value="3"/>
          </restriction>
        </simpleType>
      </element>
      <element name="planta" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <length value="3"/>
          </restriction>
        </simpleType>
      </element>
      <element name="bloque" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <length value="3"/>
          </restriction>
        </simpleType>
      </element>
      <element name="complemento" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <length value="40"/>
          </restriction>
        </simpleType>
      </element>
      <element name="calificadorNumero" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <maxLength value="3"/>
          </restriction>
        </simpleType>
      </element>
      <element name="codigoPostal">
        <simpleType>
          <restriction base="string">
            <length value="10"/>
          </restriction>
        </simpleType>
      </element>
      <element name="apartadoCorreos" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <length value="10"/>
          </restriction>
        </simpleType>
      </element>
      <element name="municipio" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <pattern value="[0-9]{6}"/>
          </restriction>
        </simpleType>
      </element>
      <element name="provincia" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <pattern value="[0-9]{2}"/>
          </restriction>
        </simpleType>
      </element>
      <element name="pais" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <maxLength value="2"/>
          </restriction>
        </simpleType>
      </element>
      <element name="poblacion" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <length value="30"/>
          </restriction>
        </simpleType>
      </element>
      <element name="linea1" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <maxLength value="50"/>
          </restriction>
        </simpleType>
      </element>
      <element name="linea2" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <maxLength value="50"/>
          </restriction>
        </simpleType>
      </element>
      <element name="opcionesCIE" type="not:Opciones" minOccurs="0">
        <annotation>
          <documentation>Opciones para entrega al CIE (opcion : valor)
                        -cie : identificador del CIE en Notifica (getCies)
                        -formatoSobre: string (formato del sobre, americano, C5...)
                        -formatoHoja: string (formato de la hoja, A4, A5, A3...)</documentation>
        </annotation>
      </element>
    </all>
  </complexType>
  <simpleType name="TipoDomicilio">
    <annotation>
      <documentation>1: Nacional Normalizado
                2: Extranjero Normalizado
                3: Apartado de Correos Normalizado
                4: Sin Normalizar</documentation>
    </annotation>
    <restriction base="integer">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
    </restriction>
  </simpleType>
  <complexType name="OrganismoPagadorPostal">
    <all>
      <element name="codigoDIR3Postal" type="not:CodigoDIR"/>
      <element name="numContratoPostal" type="string"/>
      <element name="codClienteFacturacionPostal" type="string"/>
      <element name="fechaVigenciaPostal" type="date"/>
    </all>
  </complexType>
  <complexType name="OrganismoPagadorCIE">
    <all>
      <element name="codigoDIR3CIE" type="not:CodigoDIR"/>
      <element name="fechaVigenciaCIE" type="date"/>
    </all>
  </complexType>
  <complexType name="Persona">
    <all>
      <element name="nif" minOccurs="0">
        <simpleType>
          <restriction base="string">
            <whiteSpace value="collapse"/>
          </restriction>
        </simpleType>
      </element>
      <element name="nombre" type="string" minOccurs="0"/>
      <element name="apellidos" type="string" minOccurs="0"/>
      <element name="razonSocial" type="string" minOccurs="0"/>
      <element name="email" type="string" minOccurs="0"/>
      <element name="telefono" type="string" minOccurs="0"/>
      <element name="codigoDestino" type="not:CodigoDIR" minOccurs="0"/>
    </all>
  </complexType>
  <complexType name="Destinatarios">
    <sequence maxOccurs="100">
      <element name="destinatario" type="not:Persona"/>
    </sequence>
  </complexType>
  <simpleType name="CodigoDIR">
    <restriction base="string">
      <length value="9"/>
      <whiteSpace value="collapse"/>
    </restriction>
  </simpleType>
  <simpleType name="TipoEnvio">
    <annotation>
      <documentation>Valor 1 para las Comunicaciones, Valor 2 para las Notificaciones</documentation>
    </annotation>
    <restriction base="integer">
      <enumeration value="1"/>
      <enumeration value="2"/>
    </restriction>
  </simpleType>
  <complexType name="Documento">
    <all>
      <element name="contenido" type="base64Binary" minOccurs="0"/>
      <element name="hash" type="string"/>
      <element name="enlaceDocumento" type="string" minOccurs="0"/>
      <element name="metadatos" type="string" minOccurs="0"/>
      <element name="opcionesDocumento" type="not:Opciones" minOccurs="0">
        <annotation>
          <documentation>Opciones para documento (opcion : valor)
                        -normalizado : si/no
                        -generarCsv: si/no</documentation>
        </annotation>
      </element>
    </all>
  </complexType>
  <complexType name="Opcion">
    <simpleContent>
      <extension base="string">
        <attribute name="tipo" type="string" use="required"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="Opciones">
    <sequence maxOccurs="100">
      <element name="opcion" type="not:Opcion"/>
    </sequence>
  </complexType>
  <element name="resultadoAltaRemesaEnvios" type="not:resultadoAltaRemesaEnvios"/>
  <complexType name="resultadoAltaRemesaEnvios">
    <all>
      <element name="codigoRespuesta" type="string"/>
      <element name="descripcionRespuesta" type="string"/>
      <element name="codigoOrganismoEmisor" type="not:CodigoDIR" minOccurs="0"/>
      <element name="fechaCreacion" type="dateTime" nillable="true" minOccurs="0"/>
      <element name="resultadoEnvios" type="not:ResultadoEnvios" minOccurs="0"/>
    </all>
  </complexType>
  <complexType name="ResultadoEnvios">
    <sequence>
      <element name="item" type="not:ResultadoEnvio" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <complexType name="ResultadoEnvio">
    <all>
      <element name="identificador" type="string"/>
      <element name="nifTitular" type="string" minOccurs="0"/>
    </all>
  </complexType>
</schema>